@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap');

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
button {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

button {
  color: #ffffff;
  background-color: #f65261;
  border: none;
  box-shadow: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  &:active {
    background-color: #bd323f;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
